footer {
    padding: 20px;
    color: #fff;
    background-color: #2c3841;
    font-weight: bold;
    font-size: 90%;
}
footer p {
    margin: 0px;
}
footer p a, footer p a:visited, footer p a:active {
    color: white;
}
