{% extends "base.html" %}

{% block title %}
    <title>Mapping metadata schemas</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="css/mapping.css">
    <link rel="stylesheet" href="css/jisc.css">
{% endblock %}

{% block content %}

<div class="container">

    {% include "includes/header.html" %}

    <h1>Mapping UK repository-related metadata schemas</h1>

    <p>Choose a tab to compare schemas:</p>

    <ul class="nav nav-tabs" role="tablist">
        {% for schema in schemas %}
            <li role="presentation" class="tab-schema tab-schema-{{schema.id}}{% if forloop.first %} active{% endif %}"><a href="#{{schema.id}}" aria-controls="{{schema.id}}" role="tab" data-toggle="tab">{{schema.shorttitle}}</a></li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for from_schema in schemas %}
            <div role="tabpanel" class="tab-pane fade{% if forloop.first %} in active{% endif %}" id="{{from_schema.id}}">

				{% with "schema-"|add:from_schema.id|add:"-details" as base %}
					<div class="panel-group" id="{{base}}" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="{{base}}-heading">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#{{base}}" href="#{{base}}-collapse" aria-expanded="true" aria-controls="{{base}}-collapse"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Details</a>
								</h4>
							</div>
							<div id="{{base}}-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{base}}-heading">
								{% include "includes/schema.html" with schema=from_schema %}
							</div>
						</div>
					</div>
				{% endwith %}

				<div class="container-fluid">
					{% for from_field in from_schema.fields %}
						<div class="row row-schema row-schema-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
							<div class="col-xs-6 col-md-3 col-schema">
								{% include "includes/element/default.html" with field=from_field %}
							</div>
							<div class="col-xs-6 col-md-9">
								<div class="row">
									{% for to_schema, to_fields in from_field.mappings.items %}
										<div class="col-xs-12 col-md-4">
											<div class="row">
												{% for to_field in to_fields %}
													<div class="col-xs-12 col-schema">
														{% with "mapping-"|add:from_schema.id|add:"-"|add:from_field.id|add:to_schema|add:"-"|add:to_field.id as base %}
															{% include "includes/element/popup.html" with base=base field=to_field has_popup=True %}
															{% include "includes/modal.html" with base=base from_field=from_field to_field=to_field %}
														{% endwith %}
													</div>
												{% endfor %}
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

            </div>
        {% endfor %}
    </div>

    {% include "includes/footer.html" %}

</div>

{% endblock %}

{% block js %}
<script>
    $('.collapse').on('shown.bs.collapse', function(){
        $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
    }).on('hidden.bs.collapse', function(){
        $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
    });
</script>
{% endblock %}
