{% extends "base.html" %}

{% block title %}
    <title>Mapping metadata schemas</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="css/tables.css">
{% endblock %}

{% block content %}

<div class="container">

    <h1>Mapping UK repository-related metadata schemas</h1>

    <p>Choose a tab to compare schemas:</p>

    <ul class="nav nav-tabs" role="tablist">
        {% for schema in schemas %}
            <li role="presentation" class="tab-schema tab-schema-{{schema.id}}{% if forloop.first %} active{% endif %}"><a href="#{{schema.id}}" aria-controls="{{schema.id}}" role="tab" data-toggle="tab">{{schema.shorttitle}}</a></li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for schema in schemas %}
            <div role="tabpanel" class="tab-pane fade{% if forloop.first %} in active{% endif %}" id="{{schema.id}}">
                <div class="panel-group" id="schema-info-{{schema.id}}" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="schema-info-{{schema.id}}-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#schema-info-{{schema.id}}" href="#schema-info-{{schema.id}}-collapse" aria-expanded="true" aria-controls="schema-info-{{schema.id}}-collapse"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Details</a>
                            </h4>
                        </div>
                        <div id="schema-info-{{schema.id}}-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="schema-info-{{schema.id}}-heading">
                            {% include "includes/schema.html" with schema=schema %}
                        </div>
                    </div>
                </div>

				<div class="container-fluid">
					{% for field in schema.fields %}
						<div class="row row-schema row-schema-{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
							<div class="col-xs-6 col-md-3 col-schema">
								{% include "includes/element/default.html" with schema=schema.id field=field %}
							</div>
							<div class="col-xs-6 col-md-9">
								<div class="row">
									{% for tgt_schema, tgt_fields in field.mappings.items %}
										<div class="col-xs-12 col-md-4">
											<div class="row">
												{% for tgt_field in tgt_fields %}
													<div class="col-xs-12 col-schema">
														{% include "includes/element/popup.html" with schema=tgt_schema field=tgt_field src_schema=schema.id src_field=field has_popup=True %}
														{% include "includes/popup.html" with schema=schema.id field=field tgt_schema=tgt_schema tgt_field=tgt_field %}
													</div>
												{% endfor %}
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}

{% block js %}
<script>
    $('.collapse').on('shown.bs.collapse', function(){
        $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
    }).on('hidden.bs.collapse', function(){
        $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
    });
</script>
{% endblock %}
